.project-item {
    display: flex;
    align-items: center;

    background-color: var(--fg);
    color: var(--bg);
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 20px;
}

.project-item a {
  margin-left: 20px;  
}

.project-item header, .project-item p {
    flex-shrink: 0;
}

.project-item h5 {
    color: var(--bg);
}

.project-item p {
    margin: 0;
}

.languages {
    width: 100%;
}

.languages img {
    float: right;
    border-radius: 0 !important;
    /*filter: drop-shadow(2px 2px 5px black);*/
}
