body {
    font-family: goudy-bookletter, serif;
    background-color: var(--bg);
    color: var(--fg);
}

@font-face {
    font-family: goudy-bookletter;
    src: url("fonts/GoudyBookletter1911.otf");

    font-display: swap;
}


/* font sizes */
h1, h2, h3, h4, h5 { margin: 0;}
h1 { font-size: 3.052rem; color: var(--h1); }
h2 { font-size: 2.441rem; color: var(--h2);}
h3 { font-size: 1.953rem; color: var(--h3);}
h4 { font-size: 1.563rem; color: var(--h4);}
h5 { font-size: 1.563rem; color: var(--h5);}
p { text-indent: 25px; }
p, li { font-size: 1.25rem; text-align: justify; }
/* end font sizes */


/* main content */
#page {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

#blog article {
    position: relative;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: var(--blog);
}

#blog article img, #blog article video{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    max-width: 600px;
}

#blog article figcaption {
    font-size: 1.25rem;
    text-align: center;
    opacity: 60%;
    margin-bottom: 30px;
}

li { margin: 20px 0 20px 0; }

i { color: var(--link); }

a {
    font-size: 1.25rem; 
    color: var(--link);
    transition: ease 0.2s;
    padding: 3px;
}

a:hover {
    border-radius: 10px;
    background-color: var(--link);
    color: var(--bg);
}

a img { transition: ease 0.3s; }
.imglink { padding: 0px !important; }
.imglink img:hover { opacity: 60%; }


footer { margin-top: 60px; }

footer img {
    display: block;
    margin: 0 auto;
}
/* end main content */


/* navigation */
#nav-section {
    display: flex;
    position: relative;
    max-width: 1000px;
    border: 20px solid transparent;
    border-image: url("borders/pipe-border.png") 30;
    align-items: center;
    background-color: var(--blog);
}

#nav-section h1 { margin: 0 20px 0 20px; }

.nav-container {
    margin: 0 auto;
    max-width: 1000px;
}

nav { margin-left: auto; }

nav ul {
    display: flex;
    padding: 0;
}

nav ul li {
    margin: 0 10px 0 10px;
    list-style: none;
}
/* end navigation */


/* gear stuff */
.gear {
    position: absolute;
    z-index: -1;
}
.gear[pos="1"] {
    left: -50px;
    top: 20px;
    animation: spin 5s infinite linear;
}

.gear[pos="2"] {
    width: 80px;
    height: 80px;
    left: -35px;
    top: 140px;
    animation: spin-reverse 5s infinite linear;
}

.gear[pos="3"] {
    right: -50px;
    top: 50%;
    animation: spin 5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}
/* end gear stuff */
