.headerimg {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

main p, main nav {
  width: 477px;
}

h1 { font-size: 3.052rem; }
h2 { font-size: 1.953rem; }

nav {
  overflow-y: scroll;
  height: 200px;
}

 nav ul {
   list-style: none;
   padding: 0;
 }

 nav ul li {
   margin-bottom: 10px;
 }

 .date {
   font-weight: bold;
 }

 main {
     height: 570px;
 }
