@media not (min-width: 720px), (max-width: 800px) and (pointer:none), (pointer:coarse) {
    .gear {
        display: none !important;
    }

    .nav-container {
        width: 100% !important;
    }

    #nav-section {
        flex-direction: column !important;
    }

    nav {
        position: relative;
        width: 100% !important;
        margin: 0 auto !important; 
    }

    nav ul {
        width: 100% !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    #page {
        width: 100% !important;
    }

    #blog article img, #blog article video {
        width: 100%;
    }
    
	.project-item {
        flex-direction: column;
    }

	.project-item p {
		text-align: left !important;
	}
    
    .languages img {
        width: 16px !important;
    }
}

