
/* variables */
/* https://vimcolorschemes.com/felipec/vim-felipec */
:root {
    --fg: #dddde1;
    --bg: #1e1e22;
    --bg-dark: #151518;
    
    --red: #ef8f8f;
    --orange: #efbf8f;
    --yellow: #efef8f;
    --blue: #8fbfef;
    --purple: #ef8fef;
    --purplish: #8f8fef;
    --green: #bfef8f;
    --green2: #8fef8f;
    --turtle: #8fefbf;
}

html {
    height: 100%;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: sf-mono;

    height: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: sf-mono;
    src: url("fonts/SFMono Regular Nerd Font Complete.otf");
}

@media (pointer:none), (pointer:coarse), (max-width: 800px) {

    .flex-container-nav {
        display: initial !important;
        margin: 0;
    }

    .flex-grid {
        width: 100% !important;
    }

    .menu-box {
        width: 100% !important;
        margin: 25px 0 25px 0 !important;
    }

    .menu-box h1 {
        font-size: 60px !important;
    }

    .menu-box h2 {
        font-size: 50px !important;
    }

    .menu-box p, .menu-box a, .inline-flex a {
        font-size: 30px !important;
    }

    .contact-box {
        margin-bottom: 75px !important;
    }

    /* blog stuff */
    
    #blog {
        font-size: 40px !important;
    }

    .flex-container-blog h2 {
        font-size: 30px !important;
    }

    .blog {
        width: auto !important;
    }

    .blog p, .blog strong{
        font-size: 30px !important;
        line-height: 40px !important;
    }

    .blog-title {
        font-size: 40px !important;
        float: none !important;
    }

    .blog-author {
        font-size: 20px !important;
    }

    .blog-date {
        font-size: 20px !important;
        float: none !important;
    }
    
    /* article stuff */
    
    .article-nav-box {
        width: 100% !important;
        padding: 20px 0 20px 0 !important;
    }

    .article-nav-box a {
        font-size: 25px !important;
        margin-right: 30px !important;
        margin-left: 20px !important;
    }

    .articles-list-container {
        width: auto !important;
    }

    .articles-list-container h1 {
        font-size: 50px !important;
    }

    .articles-list-container a {
        font-size: 30px !important;
        margin-bottom: 25px !important;
    }

}

a {
    color: var(--red);
    transition: ease 0.3s;
}

.photography-box a, .contact-box a, .contact-box p, .article-box a {
    margin: 5px 0 5px 0;
}

a:hover, a p:hover {
    color: var(--bg-dark);
    background-color: var(--red);
    padding: 2px;
    border-radius: 5px;
}

::selection {
    color: var(--bg-dark);
    background-color: var(--fg);
}

a::selection,a p::selection {
    color: var(--bg-dark);
    background-color: var(--red);
}

p::selection {
    color: var(--bg-dark);
    background-color: var(--fg);
}

strong::selection {
    color: var(--bg-dark);
    background-color: var(--yellow);
}

.flex-container-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 800px;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;

    /*align-items:flex-start;
    align-content:flex-start;*/

    width: 1050px;
}

.flex-container-blog {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.blog {
    width: 800px;
    background-color: var(--bg-dark);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 45px;
}

.blog img {
    display: block;
    border: 2px solid var(--purple);
    margin: 0 auto;
    border-radius: 20px;
}

.blog p {
    text-indent: 25px;
    line-height: 24px;
}

.blog h2 {
    font-size: 20px;
    font-weight: bold;
}

.blog-title {
    color: var(--turtle);
    font-size: 22px;
    margin: 10px 0 0 0;
    float: left;
}

.blog-title::selection {
    color: var(--bg-dark);
    background-color: var(--turtle);
}

.blog-date {
    color: var(--yellow);
    margin: 10px 0 0 0;
    float: right;
}

.blog-date::selection {
    color: var(--bg-dark);
    background-color: var(--yellow);
}

.blog-author {
    color: var(--blue);
}

.blog-author::selection {
    color: var(--bg-dark);
    background-color: var(--blue);
}

.dotted-line {
    width: 100%;
    border-bottom: 3px dashed var(--fg);
    margin: 20px 0 20px 0;
}

.menu-box {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 300px;
    height: auto;
    margin: 5px;

    background-color: var(--bg-dark);

    border-radius: 20px;
    padding: 20px;
}

.inline-flex {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.main-box h1 {
    color: var(--purple);
    margin-left: 5px;
}

.main-box p {
    color: var(--blue);
    margin: 8px 0 5px 0;
}

.main-box h1::selection {
    color: var(--bg-dark);
    background-color: var(--purple);
}

.main-box p::selection {
    color: var(--bg-dark);
    background-color: var(--blue);
}

.article-box h2 {
    color: var(--green);
}

.article-box h2::selection {
    color: var(--bg-dark);
    background-color: var(--green);
}

.game-box h2 {
    color: var(--orange);
}

.game-box h2::selection {
    color: var(--bg-dark);
    background-color: var(--orange);
}

.project-box h2 {
    color: var(--green2);
    margin-left: 10px;
}

.project-box h2::selection {
    color: var(--bg-dark);
    background-color: var(--green2);
}

.photography-box h2 {
    color: var(--yellow);
}

.photography-box h2::selection {
    color: var(--bg-dark);
    background-color: var(--yellow);
}

.contact-box h2 {
    color: var(--purplish);
}

.contact-box h2::selection {
    color: var(--bg-dark);
    background-color: var(--purplish);
}

.article-nav-box {
    display: flex;
    background-color: var(--bg-dark);
    border-radius: 20px;
    width: 800px;
    padding: 20px;
    margin: 20px;
}

.article-nav-box a {
    margin: 0 15px 0 0;
}

.articles-list-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    margin-top: 50px;

    border-radius: 20px;
    background-color: var(--bg-dark);
}

.articles-list-container a {
    padding: 10px;
}

.articles-list-container h1 {
    font-size: 22px;
    color: var(--blue);
}

.articles-list-container h1::selection {
    color: var(--bg-dark);
    background-color: var(--blue);
}

.article-back {
    padding: 0;
}

/* Icons */

.eye-icon {
    background-image: url('img/eye-32x32.png');
    width: 32px;
    height: 32px;
}

.github-icon {
    background-image: url('img/github.png');
    width: 32px;
    height: 32px;
}

.python-icon {
    background-image: url('img/py.png');
    width: 16px;
    height: 16px;
}

.html-icon {
    background-image: url('img/html.png');
    width: 16px;
    height: 16px;
}

.css-icon {
    background-image: url('img/css.png');
    width: 16px;
    height: 16px;
}
